<settings>
  <servers>
      <server>
          <id>nx-releases</id>
          <username>teste</username>
          <password>teste</password>
      </server>
      <server>
          <id>nx-snapshots</id>
          <username>teste</username>
          <password>teste</password>
      </server>
  </servers>
</settings>
