<settings>
  <servers>
      <server>
          <id>nx-releases</id>
          <username>admin</username>
          <password></password>
      </server>
      <server>
          <id>nx-snapshots</id>
          <username>admin</username>
          <password></password>
      </server>
  </servers>
</settings>
